/* Colors */
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  border: 0;
}
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary {
  display: block;
}
img,
video {
  max-width: 100%;
}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html,
body {
  width: 100%;
  height: 100%;
}
html {
  font-size: 100%;
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: none;
}
body {
  font: 12px/1.3 Arial, Helvetica, sans-serif;
  color: #000000;
  text-align: center;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  border: 0;
}
a {
  color: #5b5b5b;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.text-upper {
  text-transform: uppercase;
}
.text-lower {
  text-transform: lowercase;
}
.hidden {
  display: none;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
div.page {
  position: relative;
  max-width: 1024px;
  min-width: 320px;
  margin: 0 auto;
  text-align: left;
}
header {
  clear: both;
  width: 100%;
  padding: 10px 0 0 0;
  background: #0076cf;
}
header .logo {
  float: left;
  width: 154px;
  height: 30px;
  margin: 0 0 0 10px;
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
  text-transform: lowercase;
}
header div.search {
  float: right;
  padding: 0 10px 0 0;
}
header div.search p {
  padding: 0;
}
header div.search input[type=text] {
  float: left;
  width: 190px;
  height: 32px;
  margin: 0;
  padding: 0 10px;
  color: #000000;
  line-height: 32px;
  background: #ffffff;
  border: 0;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  border-radius: 16px;
}
header div.search button {
  float: left;
  position: relative;
  width: 32px;
  height: 32px;
  margin: 0 0 0 -32px;
  text-indent: -5000px;
  background: url(../images/search.png) 50% 50% no-repeat;
  border: 0;
}
header nav {
  clear: both;
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 10px 0 0 0;
  font-size: 14px;
  line-height: 14px;
}
header nav ul {
  padding: 0;
  list-style: none;
}
header nav ul div.nav-child {
  position: absolute;
  display: none;
  min-width: 180px;
  top: 34px;
  left: -1px;
  padding: 20px;
  font-size: 12px;
  background: #a4d0e7;
}
header nav ul li {
  padding: 0;
}
header nav ul li a {
  display: block;
  color: #004775;
}
header nav ul li div.nav-child a:hover {
  color: #ffffff;
  text-decoration: none;
}
header nav ul li:first-child div.nav-child {
  left: 0;
}
header nav ul li:hover div.nav-child {
  display: block;
}
header nav ul:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
header nav > ul {
  position: relative;
  width: 100%;
  background: #d1e7f3;
}
header nav > ul > li {
  float: left;
  border-right: #a4d0e7 solid 1px;
}
header nav > ul > li > a {
  padding: 10px 20px;
  font-weight: bold;
  background: #d1e7f3;
}
header nav > ul > li:hover {
  position: relative;
}
header nav > ul > li:hover > a {
  background: #a4d0e7;
}
header nav > ul > li:hover > a:hover {
  text-decoration: none;
}
header nav > ul > li.active > a {
  color: #ffffff;
  background: #004775;
}
header:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
a.object-handle {
  display: none;
  width: 32px;
  height: 32px;
  line-height: 32px;
  color: #ffffff;
  text-align: center;
  background-color: #004775;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
a.object-handle:hover {
  text-decoration: none;
  background-color: #000000;
}
a.nav-handle {
  float: right;
  margin: 0 10px 0 0;
  font-size: 24px;
}
a.search-handle {
  float: right;
  margin: 0 10px 0 0;
  text-indent: -5000px;
  background-image: url(../images/search.png);
}
#wrapper {
  overflow: hidden;
  width: 100%;
  padding: 2% 0;
}
#leftbar {
  float: left;
  width: 23%;
  background: #d1e7f3;
}
#rightbar {
  float: right;
  width: 23%;
  background: #d1e7f3;
}
#leftbar + #rightbar + #content {
  padding-left: 25%;
  padding-right: 25%;
}
#leftbar + #content {
  padding-left: 25%;
}
#rightbar + #content {
  padding-right: 25%;
}
footer {
  clear: both;
  width: 100%;
  color: #ffffff;
  background: #0076cf;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 16px 0 0 0;
  font-weight: bold;
}
h1 {
  font-size: 3.5em;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.5em;
}
h4 {
  font-size: 2em;
}
h5 {
  font-size: 1.5em;
}
h6 {
  font-size: 1em;
}
p {
  padding: 12px 0 0 0;
}
ul,
ol {
  padding: 12px 0 0 20px;
}
ul ul,
ol ul {
  padding-bottom: 0;
}
ul ol,
ol ol {
  padding-bottom: 0;
}
li {
  padding: 4px 0 0 0;
}
ul.unstyled,
ol.unstyled {
  padding: 0;
  list-style: none;
}
ul.unstyled li,
ol.unstyled li {
  padding: 0;
}
ul.inline,
ol.inline {
  padding-left: 0;
  list-style: none;
}
ul.inline > li,
ol.inline > li {
  display: inline-block;
  *display: inline;
  padding-left: 10px;
  *zoom: 1;
}
ul.inline > li:first-child,
ol.inline > li:first-child {
  padding-left: 0;
}
dl {
  padding-top: 12px;
}
dt {
  font-weight: bold;
  padding-bottom: 4px;
}
dd {
  padding: 0 0 4px 10px;
}
dl.inline {
  *zoom: 1;
}
dl.inline dt {
  float: left;
  clear: left;
  overflow: hidden;
  width: 33%;
  padding-left: 0;
  text-align: right;
  white-space: nowrap;
  text-overflow: ellipsis;
}
dl.inline dd {
  margin-left: 36%;
}
dl.inline:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
caption {
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
}
table {
  width: 100%;
  margin-top: 16px;
  background-color: transparent;
  border-spacing: 0;
}
table th,
table td {
  padding: 8px;
  text-align: left;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}
table th {
  font-weight: bold;
}
table thead tr:first-child th {
  vertical-align: bottom;
  border-top: 0;
}
table.striped {
  background-color: #f9f9f9;
}
table.striped thead th {
  background-color: #ffffff;
}
table.striped tbody tr:nth-child(even) td,
table.striped tbody tr:nth-child(even) th {
  background-color: #ffffff;
}
table.bordered {
  border: 1px solid #dddddd;
  border-collapse: separate;
  *border-collapse: collapse;
  border-left: 0;
}
table.bordered th,
table.bordered td {
  border-left: 1px solid #dddddd;
}
table.bordered tbody tr:hover > td,
table.bordered tbody tr:hover > th {
  background-color: #f9f9f9;
}
input[type=color],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=range],
input[type=search],
input[type=text],
input[type=time],
input[type=url],
textarea,
select {
  margin: 0;
  padding: 0;
  font-family: Arial, Verdana, Tahoma, sans-serif;
  background: #ffffff;
  border: #bbbbbb solid 1px;
  /*-webkit-appearance: none;*/
}
input[type=color],
input[type=date],
input[type=email],
input[type=number],
input[type=password],
input[type=search],
input[type=text],
input[type=time],
input[type=url] {
  padding: 0 5px;
  height: 20px;
  line-height: 20px;
}
input[type=color]:focus,
input[type=date]:focus,
input[type=email]:focus,
input[type=number]:focus,
input[type=password]:focus,
input[type=range]:focus,
input[type=search]:focus,
input[type=text]:focus,
input[type=time]:focus,
input[type=url]:focus,
textarea:focus,
select:focus {
  background: #f9f9f9;
  outline: none;
}
input[type=checkbox],
input[type=radio] {
  position: relative;
  margin: -2px 4px 0 0;
  padding: 0;
  vertical-align: middle;
}
textarea {
  padding: 5px;
  resize: vertical;
}
form ul.actions {
  overflow: hidden;
  width: 100%;
  padding: 16px 0 0 0;
  list-style: none;
}
form ul.actions li {
  float: right;
  padding-left: 10px;
}
a.button,
input[type=submit],
input[type=button],
input[type=reset],
button {
  display: inline-block;
  *display: inline;
  overflow: visible;
  margin: 0;
  padding: 6px 10px;
  font-size: 12px;
  line-height: 1;
  color: #004775;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #d1e7f3;
  border: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-appearance: none;
}
input[type=submit]::-moz-focus-inner,
input[type=button]::-moz-focus-inner,
input[type=reset]::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a.button.large,
input[type=submit].large,
input[type=button].large,
input[type=reset].large,
button.large {
  padding: 12px 20px;
  font-size: 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}
a.button.small,
input[type=submit].small,
input[type=button].small,
input[type=reset].small,
button.small {
  padding: 4px 6px;
  font-size: 11px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
a.button.block,
input[type=submit].block,
input[type=button].block,
input[type=reset].block,
button.block {
  display: block;
  width: 100%;
  padding-right: 0;
  padding-left: 0;
}
a.button.orange,
input[type=submit].orange,
input[type=button].orange,
input[type=reset].orange,
button.orange {
  color: #ffffff;
  background-color: #ff5f00;
}
a.button.blue,
input[type=submit].blue,
input[type=button].blue,
input[type=reset].blue,
button.blue {
  color: #ffffff;
  background-color: #004775;
}
* h1:first-child,
* h2:first-child,
* h3:first-child,
* h4:first-child,
* h5:first-child,
* h6:first-child,
* p:first-child,
* ul:first-child,
* ol:first-child,
* dl:first-child {
  padding-top: 0;
}
* .grid:first-child {
  margin-top: -4%;
}
.fields {
  position: relative;
  width: 104%;
  margin-left: -4%;
}
.fields p {
  float: left;
  width: 96%;
  margin: 4% 0 0 4%;
  padding: 0;
}
.fields p span.spacing {
  display: block;
  padding: 0 6px;
}
.fields p input[type=color],
.fields p input[type=date],
.fields p input[type=email],
.fields p input[type=number],
.fields p input[type=password],
.fields p input[type=range],
.fields p input[type=search],
.fields p input[type=text],
.fields p input[type=time],
.fields p input[type=url] {
  z-index: 1;
  position: relative;
  width: 100%;
  margin: 0 -6px;
}
.fields p select {
  width: 100%;
}
.fields p textarea {
  position: relative;
  width: 100%;
  margin: 0 -6px;
}
.fields p:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
.fields p.size-1-4 {
  width: 21%;
}
.fields p.size-2-4 {
  width: 46%;
}
.fields p.size-3-4 {
  width: 71%;
}
.fields label {
  cursor: pointer;
}
.fields p.inline label {
  display: block;
  float: left;
  width: 31%;
  padding-top: 3px;
  padding-right: 2%;
}
.fields p.inline span.field {
  display: block;
  float: left;
  width: 67%;
}
.fields p.block label {
  display: block;
  padding: 0 0 2px 0;
}
.fields p.block span.field {
  display: block;
  width: 100%;
}
.fields p.radios label {
  float: left;
  padding-right: 2%;
}
.fields p.radios label:first-child {
  font-weight: bold;
}
.fields p.radios input[type=checkbox],
.fields p.radios input[type=radio] {
  float: left;
  margin-top: 1px;
}
.fields p.radios.block label {
  vertical-align: middle;
}
.fields p.radios.block label:first-child {
  float: none;
  padding: 0 0 2px 0;
}
.fields label.error {
  color: #ba0d21;
}
.fields label.tooltip-error {
  z-index: 10;
  position: absolute;
  display: block;
  width: auto !important;
  top: 21px;
  padding: 4px 5px !important;
  color: #ffffff;
  white-space: nowrap;
  background: #ba0d21;
}
.fields:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
.grid {
  overflow: hidden;
  position: relative;
  width: 104%;
  margin-left: -4%;
}
.grid .col {
  float: left;
  width: 100%;
  margin: 4% 0 0 4%;
  background: #d1e7f3;
}
.grid .size-1-16 {
  width: 2.25%;
}
.grid .size-2-16 {
  width: 8.5%;
}
.grid .size-3-16 {
  width: 14.75%;
}
.grid .size-4-16 {
  width: 21%;
}
.grid .size-5-16 {
  width: 27.25%;
}
.grid .size-6-16 {
  width: 33.5%;
}
.grid .size-7-16 {
  width: 39.75%;
}
.grid .size-8-16 {
  width: 46%;
}
.grid .size-9-16 {
  width: 52.25%;
}
.grid .size-10-16 {
  width: 58.5%;
}
.grid .size-11-16 {
  width: 64.75%;
}
.grid .size-12-16 {
  width: 71%;
}
.grid .size-13-16 {
  width: 77.25%;
}
.grid .size-14-16 {
  width: 83.5%;
}
.grid .size-15-16 {
  width: 89.75%;
}
.grid .size-16-16 {
  width: 96%;
}
.grid:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
/* tooltip */
a.tooltip:hover {
  position: relative;
}
a.tooltip span.tooltip {
  display: none;
  position: absolute;
  z-index: 1;
  opacity: .8;
  filter: alpha(opacity=80);
  cursor: default;
  text-decoration: none;
}
a.tooltip span.inner {
  display: block;
  width: 150px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  font-size: 11px;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
a.tooltip span.arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
a.tooltip:hover span.tooltip {
  display: block;
}
a.tooltip.top span.tooltip {
  bottom: 1em;
  left: 0;
  padding: 5px 0;
}
a.tooltip.top span.arrow {
  bottom: 0;
  left: 1em;
  margin-left: -5px;
  border-top-color: #000000;
  border-width: 5px 5px 0;
}
a.tooltip.right span.tooltip {
  top: -0.3em;
  right: -170px;
  padding: 0 5px;
}
a.tooltip.right span.arrow {
  top: 1em;
  left: 0;
  margin-top: -5px;
  border-right-color: #000000;
  border-width: 5px 5px 5px 0;
}
a.tooltip.bottom span.tooltip {
  top: 1em;
  left: 0;
  padding: 5px 0;
}
a.tooltip.bottom span.arrow {
  top: 0;
  left: 1em;
  margin-left: -5px;
  border-bottom-color: #000000;
  border-width: 0 5px 5px;
}
a.tooltip.left span.tooltip {
  top: -0.3em;
  left: -170px;
  padding: 0 5px;
}
a.tooltip.left span.arrow {
  top: 1em;
  right: 0;
  margin-top: -5px;
  border-left-color: #000000;
  border-width: 5px 0 5px 5px;
}
/* carousel */
div.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-top: 4%;
}
div.carousel ul:first-child {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  padding: 0;
  list-style: none;
}
div.carousel ul:first-child > li {
  float: left;
  width: 100%;
  height: 300px;
  padding: 0;
}
div.carousel ul.carousel-pager {
  position: absolute;
  z-index: 2;
  height: 16px;
  bottom: 10px;
  left: 10px;
  padding: 0;
  list-style: none;
}
div.carousel ul.carousel-pager li {
  float: left;
  overflow: hidden;
  position: relative;
  width: 16px;
  height: 16px;
  margin: 0 2px;
  padding: 0;
  text-indent: -5000px;
  background: #000000;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  list-style: none;
  cursor: pointer;
}
div.carousel ul.carousel-pager li.page :hover {
  background: #bbbbbb;
}
div.carousel ul.carousel-pager li.page.active {
  background: #ff5f00;
}
div.carousel ul.carousel-pager li.play-pause:before {
  width: 16px;
  height: 16px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
div.carousel ul.carousel-pager li.play-pause:before,
div.carousel ul.carousel-pager li.play-pause:after {
  margin: -8px 0 0;
  background: #000000;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
div.carousel ul.carousel-pager li.play:after {
  left: 7px;
  border: 4px solid transparent;
  border-left-color: #ffffff;
  margin-top: -4px;
  background: transparent;
}
div.carousel ul.carousel-pager li.pause:after {
  left: 5px;
  width: 2px;
  height: 8px;
  border: 2px solid #fff;
  border-width: 0 2px;
  margin-top: -4px;
  background: transparent;
}
div.carousel .prev-page,
div.carousel .next-page {
  display: block;
  z-index: 2;
  position: absolute;
  width: 32px;
  height: 32px;
  top: 140px;
  text-indent: -5000px;
  background: #000000;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  cursor: pointer;
}
div.carousel .prev-page:before,
div.carousel .next-page:before,
div.carousel .prev-page:before,
div.carousel .next-page:before,
div.carousel .prev-page:after,
div.carousel .next-page:after,
div.carousel .prev-page:after,
div.carousel .next-page:after {
  margin: -10px 0 0 0;
  background: #000000;
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
}
div.carousel .prev-page:after,
div.carousel .next-page:after {
  left: 0;
  border: 10px solid transparent;
  border-right-color: #ffffff;
  background: transparent;
}
div.carousel .prev-page:after,
div.carousel .next-page:after {
  left: 13px;
  border: 10px solid transparent;
  border-left-color: #ffffff;
  background: transparent;
}
div.carousel .prev-page:hover,
div.carousel .next-page:hover,
div.carousel .prev-page:hover,
div.carousel .next-page:hover {
  background-color: #ff5f00;
}
div.carousel .prev-page:after {
  left: 0;
  border: 10px solid transparent;
  border-right-color: #ffffff;
  background: transparent;
}
div.carousel .next-page:after {
  left: 13px;
  border: 10px solid transparent;
  border-left-color: #ffffff;
  background: transparent;
}
div.carousel .prev-page {
  left: 10px;
}
div.carousel .next-page {
  right: 10px;
}
/* tabs */
div.tabs {
  margin-top: 4%;
}
div.tabs ul.list {
  *zoom: 1;
  width: 100%;
  padding: 0;
  list-style: none;
}
div.tabs ul.list li {
  float: left;
  padding: 0 2px 0 0;
}
div.tabs ul.list li a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  color: #004775;
  font-weight: bold;
  background: #a4d0e7;
}
div.tabs ul.list li a:hover,
div.tabs ul.list li a:focus {
  text-decoration: none;
  background: #d1e7f3;
}
div.tabs ul.list li.active a {
  background: #d1e7f3;
}
div.tabs ul.list li.active a:holver,
div.tabs ul.list li.active a:focus {
  background: #d1e7f3;
}
div.tabs ul.list:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden;
  *display: inline-block;
}
div.tabs div.wrapper {
  padding: 20px;
  border: #d1e7f3 solid 1px;
}
/* accordion */
div.accordion {
  margin-top: 4%;
}
div.accordion > ul {
  width: 100%;
  padding: 0;
  list-style: none;
}
div.accordion > ul > li {
  width: 100%;
  margin: 0 0 2px 0;
  padding: 0;
  border: 1px solid #a4d0e7;
}
div.accordion > ul > li > div.content {
  padding: 20px;
}
div.accordion > ul > li.active div.handle {
  background: #a4d0e7;
}
div.accordion div.handle {
  background: #a4d0e7;
}
div.accordion div.handle a {
  display: block;
  padding: 10px 20px;
  font-size: 14px;
  color: #004775;
  font-weight: bold;
}
div.accordion div.handle a:hover {
  text-decoration: none;
}
div.accordion div.handle:hover {
  background: #d1e7f3;
}
@media all and (max-width: 800px) {
  #wrapper {
    width: auto;
    padding: 2%;
  }
  #rightbar {
    float: left;
    clear: left;
    margin-top: 2%;
  }
  #content {
    padding-right: 0 !important;
  }
}
@media all and (max-width: 640px) {
  #leftbar {
    float: none;
    width: auto;
  }
  #rightbar {
    float: none;
    width: auto;
  }
  #content {
    padding-left: 0 !important;
    padding-bottom: 2%;
  }
  .fields p.size-1-4 {
    width: 46%;
  }
  .fields p.size-3-4 {
    width: 96%;
  }
  .grid .size-1-16,
  .grid .size-2-16,
  .grid .size-3-16,
  .grid .size-4-16,
  .grid .size-5-16,
  .grid .size-6-16,
  .grid .size-7-16,
  .grid .size-8-16 {
    width: 46%;
  }
  .grid .size-9-16,
  .grid .size-10-16,
  .grid .size-11-16,
  .grid .size-12-16,
  .grid .size-13-16,
  .grid .size-14-16,
  .grid .size-15-16 {
    width: 100%;
  }
  a.object-handle {
    display: block;
  }
  .nav-open header nav {
    display: block;
  }
  header {
    padding-bottom: 10px;
  }
  header nav {
    display: none;
    width: auto;
    padding-left: 10px;
    padding-right: 10px;
  }
  header nav > ul {
    background: none;
  }
  header nav > ul > li {
    float: none;
    margin-top: 1px;
    border: 0;
    background: #004775;
  }
  header nav > ul > li:first-child {
    margin: 0;
  }
  header nav ul li a {
    color: #ffffff;
  }
  header nav > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
    background: none;
  }
  header nav > ul > li:hover > a {
    background: none;
  }
  header nav ul div.nav-child {
    position: static;
    display: block;
    margin: 1px 0 0 0;
    padding: 10px 10px 10px 20px;
    background: none;
  }
  .search-open header div.search {
    display: block;
  }
  header div.search {
    display: none;
    float: none;
    clear: both;
    padding: 10px 20px 0 20px;
  }
  header div.search input[type=text] {
    width: 100%;
    position: relative;
    margin: 0 0 0 -10px;
    background-color: #ffffff;
  }
  header div.search button {
    margin-right: -10px;
  }
}
@media all and (max-width: 360px) {
  .grid .size-1-16,
  .grid .size-2-16,
  .grid .size-3-16,
  .grid .size-4-16,
  .grid .size-5-16,
  .grid .size-6-16,
  .grid .size-7-16,
  .grid .size-8-16 {
    width: 100%;
  }
  .fields p.size-1-4,
  .fields p.size-2-4 {
    width: 96%;
  }
}
